#!/bin/bash

OUTPUT_FILE="{{ keepalived.dir.run }}/{{ keepalived.script.output }}"
TMP_FILE="{{ keepalived.dir.tmp }}/{{ keepalived.script.output }}"

export KUBECONFIG="{{ keepalived.dir.lib }}/{{ keepalived.script.kubeconfig }}"

trap 'rm -f "${TMP_FILE}"' EXIT

{{ k3s.dir.bin }}/k3s kubectl get --raw='/livez?verbose' 1> "${TMP_FILE}"

if [ "${?}" != 0 ]
then
        exit 1
fi

date 1>> "${TMP_FILE}"

# Don't assume mv will work
cp "${TMP_FILE}" "${OUTPUT_FILE}"

